body, html {
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #6b277e !important;
}

@font-face {
    font-family: RocketRinder;
    src: url(RocketRinder-yV5d.ttf);
}

@font-face {
    font-family: VCR;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

.bg-nav {
	background: transparent !important;
	transition: 500ms ease;
}

.bg-nav.scrolled {
	background-color: #c1c1c1 !important;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff !important;
}

.navbar-light .navbar-nav:hover .nav-link:hover {
	color: #00FFFF !important;
}

section.start {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-y: 60%;
    background-position-x: 50%;
}

section.start h1 {
    padding-top: 37%;
    padding-bottom: 39%;
    color: aliceblue;
    font-family: RocketRinder;
    text-align: center;
    
}

section.about {
    background-image: url('../images/about2.png');
    background-repeat: no-repeat;
}

section.about p {
    font-family: VCR;
    color: azure;
}

section.about h1 {
    color: magenta;
}